Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /attendance-system/
</IfModule>

<FilesMatch "\.(sql|md|log)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>
